<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Joy</string>
	<string>Sad</string>
	<string>Hope</string>
	<string>Anxious</string>
	<string>Calm</string>
	<string>Anger</string>
	<string>Confused</string>
	<string>Shame</string>
	<string>Pick Your Own</string>
</array>
</plist>
