<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Joy</key>
	<array>
		<string>Not Happy</string>
		<string>Pretty Good</string>
		<string>I&apos;m Alright</string>
		<string>Feeling Really Good</string>
		<string>I&apos;m really Happy!</string>
	</array>
	<key>Sad</key>
	<array>
		<string>Not Sad</string>
		<string>Not so Sad</string>
		<string>I&apos;m alright</string>
		<string>Feeling Sad</string>
		<string>I&apos;m really Sad...</string>
	</array>
	<key>Hope</key>
	<array>
		<string>Not feeling Hope</string>
		<string>Things are looking up</string>
		<string>I&apos;m getting excited</string>
		<string>The future is bright!</string>
		<string>Anything is possible!!</string>
	</array>
	<key>Anxious</key>
	<array>
		<string>Not Anxious</string>
		<string>Feeling worried</string>
		<string>I&apos;m getting stirred up</string>
		<string>Pretty Anxious</string>
		<string>Really panicked!!</string>
	</array>
	<key>Calm</key>
	<array>
		<string>Not Calm</string>
		<string>Feeling pleasant</string>
		<string>Really chill</string>
		<string>Very peaceful</string>
		<string>Super relaxed</string>
	</array>
	<key>Pick Your Own</key>
	<array>
		<string>Not very</string>
		<string>A little bit</string>
		<string>A little bit more</string>
		<string>A whole lot</string>
		<string>Extremely</string>
	</array>
	<key>Anger</key>
	<array>
		<string>Not Angry</string>
		<string>I&apos;m a bit annoyed</string>
		<string>Definitely frustrated</string>
		<string>Feeling Angry</string>
		<string>I&apos;m really furious</string>
	</array>
	<key>Confused</key>
	<array>
		<string>Not Confused</string>
		<string>I&apos;m a bit puzzled</string>
		<string>I&apos;m missing the point</string>
		<string>Feeling perplexed</string>
		<string>I&apos;m so lost!</string>
	</array>
	<key>Shame</key>
	<array>
		<string>Not Ashamed</string>
		<string>I&apos;m a bit embarassed</string>
		<string>I&apos;m really regretting that</string>
		<string>I&apos;m feeling dumb</string>
		<string>I want to disappear</string>
	</array>
</dict>
</plist>
